.site-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #333;
    color: #ccc;
}

header.navbar {
    border-radius: 0px;
}

header.navbar nav {
    padding: 0.5rem 0;
}
